<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <a class="logo" href="/my-blog/" aria-label="{{ .Site.Title }} home page">
        <img src="{{ "img/avatar.jpg" | absURL }}" alt="">
      </a>
      <p class="library-desc">
          Frontend Developer 💻 <br/> 
          Software Philosopher 📖 <br/>
          <a href="https://stackoverflow.com/users/4344732/hoang-tran-son" aria-label="Hoang stackoverflow">
            Stackoverflow
          </a> <br/>
          <a href="https://github.com/hoangtranson" aria-label="Hoang github">
            Github
          </a> <br/>
          <a href="mailto:hayden.tran.d@gmail.com">hayden.tran.d@gmail.com</a>
        <!-- {{ with .Site.Params.description }}
          {{ . | markdownify }}
        {{ end }} -->
      </p>
    </div>
    {{ partial "nav.html" . }}
  </div>
</header>